<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="q1"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Main Activity Declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Normal Theme for Flutter Initialization -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            
            <!-- Intent Filter to Launch App and Handle Redirect URIs -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="yourapp" android:host="auth" /> <!-- Update to match your redirect URI -->
            </intent-filter>
        </activity>

        <!-- Metadata for Flutter Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Ensure to include any external intents your app might need -->
        <queries>
            <!-- Required for querying activities that can process text -->
            <intent>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <data android:mimeType="text/plain"/>
            </intent>

            <!-- Add necessary entries for OAuth-related schemes -->
            <intent>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="login.microsoftonline.com"/>
                <!-- Add the required URI scheme for the OAuth redirection for Microsoft -->
            </intent>
            <!-- Add entries for Google sign-in, if needed -->
            <intent>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="252030712949-a73lcamslk286526o0p0o14549a8vemq.apps.googleusercontent.com" /> <!-- Use your own client ID -->
            </intent>
        </queries>
        
    </application>
</manifest>
